.posts{
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}
/* section modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 210px auto;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}
.text-content h3{
  font-size: 28px;
  color: #2f2b2b;
  margin: 10px;
}
.text-content h5{
  font-size: 20px;
  color: #444;
}
.button-content {
  margin-bottom: 10px;
}
.btn-confirm {
  background-color: #2b84e3;
  color: #f4f0f0;
}
.btn-cancel {
  background-color: #db4646;
  color: #f4f0f0;
}
.btn-confirm:focus { border: 3px solid #6ca6e3; }
.btn-cancel:focus { border: 3px solid #df6464; }
/* end of section modal */
/* section general */
.btn{
  height: 30px;
  padding: 15px;
  border: none;
  line-height: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 600;
}
.btn:hover{
  cursor: pointer;
}